 
.leaflet-container .leaflet-control-search {
	position:relative;
	float:left;
	background:#fff;
	color:#1978cf;
	border: 0px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: rgba(255, 255, 255, 0);
	z-index:10000;	
	margin-left: 0px;
	margin-top: 0px;
	font-family: 'Noto Sans SC', sans-serif; 
	font-weight: 400;

}
.leaflet-control-search.search-exp {/*expanded*/
	background:transparent;
	border: 0px solid rgb(38, 225, 250);
	background-clip: padding-box;
}

@media screen and (max-width: 550px){  /*MOBILE*/
	.leaflet-control-search .search-input {border:1px solid #FFAB00;height: 32px;}
	.leaflet-control-search .search-button {border:1px solid #FFAB00;height: 32px;}
	.leaflet-control-search .search-cancel {margin:10px 40px 10px 0;}
	}

 @media screen and (min-width: 551px) /*landscape*/
{ 
	.leaflet-control-search .search-input {border:1px solid #FFAB00;height: 32px;}
	.leaflet-control-search .search-button {border:1px solid #FFAB00;height: 32px;}
	.leaflet-control-search .search-cancel {margin:10px 40px 10px 0;}
 }

.leaflet-control-search .search-input { 
	display:block;
	float:left;
	background: rgba(253, 253, 253, 0.075);
	border-radius:0px;
	padding:0 20px 0 2px;
	margin:0 0;
	width: calc(100% - 5.3rem); 
	font-size: 15px;
	color: rgb(24, 23, 23);
	transition: 100ms;
}


.leaflet-control-search.search-load .search-input {
	background: url('./loader.gif') no-repeat center right #fff;
}
.leaflet-control-search.search-load .search-cancel {
	visibility:hidden;
}
.leaflet-control-search .search-cancel {
	display:block;
	width:15px;
	height:15px;
	position:absolute;
	right:38px;
	background: url('./cancel.png') no-repeat center center;
	text-decoration:none;
	filter: alpha(opacity=80);
	opacity: 0.8;		
}
.leaflet-control-search .search-cancel:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
.leaflet-control-search .search-cancel span {
	display:none;/* comment for cancel button imageless */
	font-size:18px;
	line-height:20px;
	color:#ccc;
	font-weight:bold;
}
.leaflet-control-search .search-cancel:hover span {
	color:rgb(214, 70, 70);
}

.leaflet-control-search .search-button {
	display:block;
	float:left;
	margin-top: 0px;
	width:3.5rem;
	background: url('./search.png') no-repeat center center rgba(67, 148, 230, 0.062);
	border-radius:0px;
	transition: 100ms;


}
.leaflet-control-search .search-button:hover {
	background: url('./search.png') no-repeat center center #59cc85;
}

.leaflet-control-search .search-tooltip {
	position:absolute;
	top:100%;
	left:0;
	float:left;
	list-style: none;
	padding-left: 0;
	min-width:180px;
	max-height:522px;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.363);
	background-color: rgba(31, 30, 30, 0.329);
	z-index:1010;
	overflow-y:visible;
	overflow-x:hidden;
	cursor: pointer;
	margin-top: 5px;
}


.leaflet-control-search .search-tip {
	margin:2px;
	padding:2px 4px;
	display:block;
	color:rgb(219, 210, 210);
	background: rgba(0, 0, 0, 0.712);
	border-radius:0;
	text-decoration:none;	
	white-space:nowrap;
	vertical-align:center;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Noto Sans SC', sans-serif; 


}
.leaflet-control-search .search-button:hover {
	background-color: #0c0b0b48;
}
.leaflet-control-search .search-tip-select
 {
	background-color: rgba(34, 33, 33, 0.719);
}

.leaflet-control-search .search-tip:hover{
	border:rgb(255, 171, 0) solid 0px ;
	color:rgb(8, 8, 7)  ;
	background-color: #fcb347;
}

.leaflet-control-search .search-alert {
	cursor:pointer;
	clear:both;
	font-size: 19px;
	margin-bottom:5px;
	padding:0 .25em;
	color:#FFAB00;
	font-weight:bold;
	border-radius:0;
}
