html, body,#sableMap {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden; 
}

#sableMap{ 
    opacity: 0.999;
    position:absolute;
}


.video-background { 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.video-background video {
    min-width: 100%; 
    min-height: 100%; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.7); 
    

}


/*mobile*/
@media screen and (max-width: 480px){ 
    .overlay{display: none;}
    #coordinate{display: none;}
	body{background: url(../pics/portrait_bg.png) no-repeat;background-size: cover;
	}
    .leaflet-control-search .search-tooltip {width: 68vw;}
    .leaflet-control{display: none;}
    #sidePanel {width: 80vw;}
 }

/*pad*/
 @media screen and (min-width: 481px) and (max-width: 1024px)
{ 	
	.overlay{display: none;}
    #coordinate{display: none;}
	body{background: url(https://vip.helloimg.com/images/2023/12/08/opwOsK.jpg) no-repeat;background-size: cover;
	}
    .leaflet-control-search .search-tooltip {width: 68vw;}
    .leaflet-control{display: none;}
    #sidePanel {width: 40vw;}
    }

/*DESKTOP*/
@media screen and  (min-width: 1025px)
    { 	
    body{background: url(https://vip.helloimg.com/images/2023/12/08/opwOsK.jpg) no-repeat;background-size: cover;
        } 
    .leaflet-control-search .search-tooltip {width: 17.5vw;}
    .items:hover{
            color:#0f0f0f;
            font-weight: bolder;
            background-color:#f9d7ca;}
    .items:hover .checker{
               filter: invert(100%);}
    .items:hover img{
            filter: invert(50%);}
    #sidePanel {width: 30vw;}

    }


.sidePanel{
    overflow:auto;
    background-image: url(../pics/PatternedFabricNoise01.png);
    /* background-color:rgb(241, 241, 241,0.9) ;*/
    font-size: 3rem;
    color: rgb(3, 3, 3);
    height: 100%;
    width: 28vw;
    position:relative;
    float: right;
    z-index: 999;
    display: flex;
    transform: translate(0px);
    transition: 300ms;
     }


.panelHidden{
    transform: translate(100%);
}

.searcher{
    width: 80%;
    display: block;
    border: #E4A23D solid 0px;
    margin:  1.6rem auto ;
    }

.panelContent{
    
    width: 100%;
    height: 100%;
    overflow:visible;
    align-items:center;
 }
 
 .panelContentImg{
     width: 100%;
     opacity: 1;
 }
 
 .panelContentTitle{
     color: #E4A23D;
     font-size: 1rem;
     text-align: center;
     margin-top: 0px;
     font-weight: bolder;
 }
 .panelContentTitleX{
     color: rgb(15, 15, 15);
     font-size: 1.2rem;
     text-align: center;
     font-weight:600;
     margin: 1.5rem auto;
      
 }

 .panelContent h5{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem auto 1.5rem auto;
    float: left;
}


.items{
    width:80%;
    height: 2rem;
    line-height: 2rem;
    text-align: left;
    font-size: 1rem;
    margin: 0 auto 0 auto;
    padding: 0.5rem 1rem;
    transition: 100ms;
    opacity: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  /*  float: right; 
  border: 1px solid #f9d7ca;
  */
}




.items img{
    height: 2rem;
    float: left;
    padding-right: 1rem;
}


.checker{
    height: 16px;
    float: right;
    width: 16px;
    margin-right: 0.2rem;
    margin-top: 0.5rem;
    border: #E4A23D 0px solid;
    background-image: url(../pics/check.png);
}


#sideToggle{
    width: 30px;
    height: 100px;
    z-index: 1005;
    background-color: rgba(46, 46, 46, 0.637);
    background-image: url(../pics/right.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    line-height: 100px;
    opacity: 1;
    cursor:pointer;
    position:relative;
    float: right;
    margin: 42.5vh 0 auto auto ;
    transform: translateX(0px);
    transition: 300ms ;

}

#sideToggle.right {
    background-image: url(../pics/right.webp);
    transform: translateX(0);
}

#sideToggle.left {
    background-image: url(../pics/left.webp);
    transform: translateX(-100%);
}

#coordinate{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
     font-size: 10px;
    position: absolute;
    z-index: 1000;
    color: #fff;
  }

  #sableMap .leaflet-control-attribution{
    display: none;
}

.displayNone{
    display: none;
}

.transprt{
    opacity: 0.5;
}

.customPopup .leaflet-popup{
    display: block;}

.customPopup .leaflet-popup-content-wrapper {
    background: #5f522e00;
    color: #fff;
    border-radius: 0px;
    opacity: 1;
    font-size: 0.9rem;
    border: rgba(12, 13, 14, 0.801) solid 0px;
    width: 20rem;  
    /* padding: 0.5rem 2rem 1rem 2rem ;*/

}


.customPopup a.leaflet-popup-close-button{
    font: 30px/14px Tahoma, Verdana, sans-serif;
    margin-right: 5px;
    margin-top: 0.4rem;
    text-align: right;
    color: #000;
    
}

.customPopup .leaflet-popup-content {
    margin:0 0;
    width: 701px;
}

.customPopup .leaflet-popup-content a  {
color: whitesmoke;
text-decoration: none;

}

.customPopup .leaflet-popup-content p  {
padding: 0.4rem 0.5rem 0.4rem 1.2rem;
line-height: 1.5rem;
margin:0rem auto 0 0;
width: 18.3rem;
background-color: rgba(255, 255, 255, 0.938);
border-top: 1px solid #e2e0df;
color: #0f0f0f;
font-weight: 500;
}

.customPopup .leaflet-popup-content-wrapper img,video {
    width: 20rem;
    height: auto;
    margin: 0rem 0 -0.45rem 0;
    border-top: #f1eded 1px solid;
    cursor: pointer;
    }

.customPopup .leaflet-popup-tip{
    background: #ebf7f5;
    opacity: 0.99;
    border: #ffaa002d solid 1px;
}


h3{
    color: #000;
    margin-bottom: -1.4rem;
    margin-right: 1rem;
    margin-top: 0.05rem;
    background-color: #cefdf8;
    height: 2.2rem;   
    line-height: 2.2rem;
    text-indent: 19px;
    width:20rem;
    font-size: 1rem;
}

.areaName{
    width:6rem!important;
    font-size: 1.5rem;
    color: #dff5f3;


}

.switch-field {
	margin-bottom:0px;
	overflow:visible;
    width: 100%;
    display: flex;
}


.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.bili{
    color: aqua;
    text-decoration: underline;
    background-color: #000;
}

.guide{
    margin: 1rem 2.5rem;
    width: 80%;
    font-size: 0.8rem;
    text-align: left;
    float: left;
    line-height: 1.8rem;
}

.guide a{
    color: #F6886A;
    font-size: 1rem;
    z-index: 800;

}

.switch-field label {
    width: 30%;
	background-color: rgba(248, 248, 248, 0.795);
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
    font-weight:normal;
	line-height: 1.2;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 100ms ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #E4A23D;
	box-shadow: none;
    font-weight:900;
}

.sidehr{
    width: 200px;
    margin: 1rem auto;
    border: 1px solid #d42d2d"
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999999;
}

#overlayImage {
    max-width: 90%;
    max-height: 90%;
}

#closeOverlay {
    width: 5rem;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: #cefdf8;
    background-color: transparent;
    border: #cefdf8 1px solid;
}

 